<div class="container">
  <section class="top" style="background: #005CAB; height: 60px;"></section>
  <section class="header">
    <div class="card-header">
      <div class="card-header-box" [ngxWatermark]="markOptions">
        <div class="box-header">
          <div class="box-img" [ngxWatermark]="{width:22,height:22,text:'123456789',fontSize:'4px'}">
            <img src="\assets\image\smiling-woman.png" alt="photo">
          </div>
          <div class="text-fullname">
            <label>{{fullName}}
              <span class="icon-info" (click)="onClickInfo()">
            </span>
            </label>
          </div>
          <div class="text-cin">
            <label>CIN : {{cinNumber}}</label>
          </div>
          <div class="status">
            <label>{{status}} <span>/</span> DIK</label>
          </div>
        </div>
      </div>
      <label id="rekomendasi">Rekomendasi</label>
    </div>
  </section>

  <!-- Regitrasi e-chanel -->
  <section class="registrasi" style="
  position: absolute;
  width: 1440px;
  height: 546px;
  top: 236px;">
    <div class="heading">
      <h1>Registrasi e-Chanel</h1>
      <p>Pastikan produk yang dipilih dan isi data sesuai kebutuhan</p>
    </div>
    <div class=" p-grid" style="margin-top: 28px;margin-left: 330px;">
      <div class="ui-group-mbca" style="
      position: absolute;
      top: 126px;" >
        <app-product-card-mbca></app-product-card-mbca>

      </div>
      <div class="ui-group-kbi" style="position: absolute;
      left: 743px;
      top: 126px;">
        <app-product-card-kbi></app-product-card-kbi>
      </div>
    </div>

    <div class="p-grid" style="align-items: center;justify-content: center;">
      <button type="button" label="Secondary" class="button-rounded secondary skipped" style="height: 40px;width: 200px;">LEWATI</button>
    </div>
  </section>
  <section class="footer" style="background: #005CAB; height: 86px;width: 1440px;top: 778px;position: absolute;"></section>

  <div class="p-grid">
    <p-dialog header="" [(visible)]="displayModal" [modal]="true" [style]="{width: '400px',height:'328px'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <h1 style="
    font-size: 16px;
    font-weight: 600;
    ">Informasi Lainnya</h1>
    <p style="line-height: 22px;">Nasabah cantik dan harus selalu diberi
      teh hangat dengan sedikit gula</p>
        <button type="button" pButton (click)="displayModal=false" label="Kembali" style="
        margin-top: 142px;height: 40px;
        width: 160px;
        left: 0px;
        top: 0px;outline: none; outline-offset: 0px;
        box-shadow: none;
        border-radius: 24px; border: none;
        background:  #00B5F0;"></button>
    </p-dialog>
  </div>
</div>




