.container {
  width: 1440px;
  margin: 0 0 0 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
}
section.header {
  width: 100%;
  height: 176px;
  background: #f0f0f0;
  position: absolute;
  left: 0;
  top:60px
}

.card-header {
  position: absolute;
  width: 662px;
  height: 144px;
  left: 389px;
  top: 16px;

  background: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  display: grid;
  grid-template-columns: 457px 205px;

}

.card-header-box {
  width: 443px;
  height: 120px;
  left: 12px;
  position: relative;
  background: #F0F0F0;
  top: 12px;
  bottom: 12px;
}


.box-img {
  position: absolute;
  width: 170px;
  height: 96px;
  left: 12px;
  top: 11px;
  bottom: 13px;

  background:  #C4C4C4;
  border-radius: 8px;
  opacity: 1;;
}

.box-img img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  position: absolute;


  /* background: url(Watermark-788-14.png), url(man_smiling_stock.png); */
  border-radius: 8px;
}

#rekomendasi {
  position: absolute;
  width: 92px;
  height: 19px;
  left: 475px;
  top: 12px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
/* identical to box height */


  color: #555555;

}

.text-fullname{
  position: absolute;
  height: 22px;
  left: 194px;
  top: 12px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */


  color: #555555;
}

.icon-info {
  background: url('src/assets/svg/info/info-circle.svg');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-left: 8px;
  margin-top: 2px;
  position: absolute;
}


.text-cin {
  position: absolute;
  width: 170px;
  height: 40px;
  left: 194px;
  top: 42px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #555555;
}

.status {
  position: absolute;
  width: 121px;
  height: 19px;
  left: 194px;
  top: 90px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;


  color: #808080;

}


.heading h1 {

  width: 237px;
  height: 33px;
  margin-top: 24px;
  margin-bottom: 0px;
  margin-left: 601px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  text-align: center;

  color: #005CAB;
}

.heading p {
  width: 547px;
  height: 27px;
  margin-top: 4px;
  margin-left: 446px;
  margin-bottom: 0px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #555555;
}



.button-rounded {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;

  background: #FFFFFF;
  border: 2px solid #00B5F0;
  box-sizing: border-box;
  border-radius: 24px;

  height: 40px;
  width: 120px;
}

.primary {
  background: #FFFFFF;
  border: 2px solid #00B5F0;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #00B5F0;
}

.secondary {
  background: #00B5F0;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;
}

.skipped {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  position: absolute;
  top: 450px;
  left:620px;
}

/* dialog */

:host ::ng-deep .ui-dialog {
  left: 520px;
  top: 199px;
}

:host ::ng-deep .ui-dialog-titlebar {
  display: none;
}

:host ::ng-deep .ui-dialog .ui-dialog-content {
  height: 100%;

  border-radius: 8px;

  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;

  color: #555555;
}




