:host ::ng-deep .card {
  width: 368px;
  height: 256px;
  background: #F0F0F0;
  border-radius: 8px;
}


/* RadioButton */
:host ::ng-deep .ui-radiobutton-label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */


  /* Body Text - BDS Web G2 */

  color: #555555;
}

:host ::ng-deep .ui-radiobutton {
  vertical-align: bottom;
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box {
  border: 2px solid #c4c4c4;
  background: #F0F0F0;
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  border:2px solid  #005CAB;
  background: #F0F0F0;
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
  background: #005CAB;
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
  box-shadow: none;
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-active:hover {
  border:2px solid  #555555;
}

:host ::ng-deep .ui-label-disabled {
  color: #C4C4C4;
}

/* Text-Field */
:host ::ng-deep .ui-button-icon-left.ui-clickable.icon-qr-on {
  background: url("src/assets/svg/Verifikasi/QR.svg");
  width: 25px;
  height: 25px;
  top: 20px;
 left: 4px;
}

:host ::ng-deep .ui-button-icon-left.ui-clickable.icon-qr-off {
  background: url("src/assets/svg/Verifikasi/QR-off.svg");
  width: 25px;
  height: 25px;
  top: 20px;
 left: 4px;
}

.ui-inputtext:enabled:focus:not(.ui-state-error), .ui-button:enabled:focus {
  box-shadow: none;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}



:host ::ng-deep .ui-inputgroup .ui-button:last-child, :host ::ng-deep .ui-inputgroup .ui-inputtext:not(:last-child) {
  background: #FFF;
  border:none;
}

:host ::ng-deep .input-btn-disabled {
  background: #DADADA;
}
