<div class="checkbox-2" style="margin-left: 3px;">
  <b-checkbox label="Klik BCA Individu" [value]="2" (change)="cbKbiAction($event)"></b-checkbox>
</div>

<div class="p-grid" style="position: absolute;top: 0px;margin-top: 38px;margin-left: 0px;" >
  <p-card id="product2" styleClass="card">
    <div class="p-grid" style="position: relative;left: 23px;top: 24px;">
      <div class="p-col-6" style="padding-left: 0px;">
        <p-radioButton name="group2" label="Tanpa Key BCA" value='1' [(ngModel)]="rbKey" [disabled]="disableRb"></p-radioButton>
      </div>
      <div class="p-col-6" style="padding-left: 0px;margin-left: -8px;">
        <p-radioButton name="group2" label="Dengan Key BCA" value='2' [(ngModel)]="rbKey" [disabled]="disableRb"></p-radioButton>
      </div>
    </div>
    <div class="p-grid" style="position: relative;top: 60px;left: 23px;">
      <div class="ui-inputgroup input-btn-disabled" style="border:1px solid #c4c4c4;border-radius: 4px;" id="inputkey">
        <input type="text" pInputText placeholder="SN KeyBCA" style="width: 287px;height: 48px;" [disabled]="disableInput">
        <button pButton type="button" [icon]="iconQr" class="ui-button-warn" [disabled]="disableInput"></button>
    </div>
    </div>
    <div class="p-grid" style="position: relative;top: 80px;left: 23px;">
      <b-checkbox label="Bebas Biaya" value="bebas" (change)="cbBebasAction($event)" [disabled]='disableCbBebas'></b-checkbox>
    </div>
  </p-card>
</div>
