
.input-group.disabled {
  background: #f0f0f0;
}
.input-group {
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;

  height: 48px;
  width: 320px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#FFFFFF; ;
}

input:disabled {
  background: #f0f0f0;
}

input {
  border: none;
  width: 90%;
  height: auto;

  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

input:focus{
  border: none;
  outline: none;
}

.start-add-on {
  width: 10%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;

  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.end-add-on {
  width: 20%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;

  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;


  background-image: url("src/assets/svg/Arrow/Down.svg");
}


.select-css {
	display: block;
	font-size: 1em;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	position: relative;
	z-index: 10;
}
.select-css::-ms-expand {
	display: none;
}
.custom-select-icons {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	z-index: 20;
	border: 1px solid white;
	background: transparent;
}
.custom-select-options {
	border: 1px solid #aaa;
	border-radius: 0 0 0.25em .25em;
	line-height: 1.5;
	margin: 0;
	margin-top: -0.5em;
	padding: 0;
	list-style-type: none;
	font-weight:normal;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	width: calc(100% - 1px);
	background-color: #ffffff;

  position: absolute;
  top: 54px;
  width: 320px;
}
.custom-select-options li {
	padding: 1em;
}
.custom-select-options li:hover {
	background: blue;
	color: #fff;
	border: 1px solid blue;
	border-width: 0 0 0 1px;
}

.custom-select-options li:focus {
	border: 2px dashed blue;
}

.hidden-all {
	display: none;
}
.hidden-visually {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	border: 0;}


