<div class="input-group" #dd>
  <span class="start-add-on">{{spanLabel}}</span>
  <input type="text" id="custom-select-input" class="select-css" role="listbox" list="optionList" (focus)="onFocus()" (blur)="onBlur()" [disabled]="disabled">
    <ul class="custom-select-options hidden-all" id="custom-select-list" role="listitem" >
      <li *ngFor="let item of list" [value]="item">{{item}}</li>
    </ul>
    <span class="end-add-on"></span>
</div>
