/* :root {
  --color: #C4C4C4;;
} */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* radio parent */
.radio {
  font-size: 20px;
  /* color: var(--color); */

  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
}

.radio__input {
  display: flex;
  color: #c4c4c4;
}

.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio__input input:checked + .radio__control {
  background: radial-gradient(#005CAB 50%, rgba(255, 0, 0, 0) 55%);
  border-color: #005CAB;
}






/* circle unchecked*/
.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  transform: translateY(-0.05em);
  /* display:grid;
  place-items: center; */
}

/* input + .radio__control::before {
  content: "";
  width: .5em;
  height: .5em;
  box-shadow: inset .5em .5em currentColor;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}

input:checked + .radio__control::before {
  transform: scale(1);
} */

.radio__label {
  line-height: 1;
  color:#555555;;
}

.radio__input:disabled ~ .radio__label {
    color: #c4c4c4;
}
