<div>
  <label class="radio">
    <span class="radio__input">
      <input type="radio" [name]="radioName" (click)="onClick()" [disabled]="disabled">
      <span class="radio__control"></span>
    </span>
    <span class="radio__label">{{label}}</span>
  </label>
</div>
