:host ::ng-deep .card {
  width: 368px;
  height: 256px;
  background: #F0F0F0;
  border-radius: 8px;
}

/* RadioButton */
:host ::ng-deep .ui-radiobutton-label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */


  /* Body Text - BDS Web G2 */

  color: #555555;
}

:host ::ng-deep .ui-radiobutton {
  vertical-align: bottom;
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box {
  border: 2px solid #c4c4c4;
  background: #F0F0F0;
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  border:2px solid  #005CAB;
  background: #F0F0F0;
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
  background: #005CAB;
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
  box-shadow: none;
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-active:hover {
  border:2px solid  #555555;
}

:host ::ng-deep .ui-label-disabled {
  color: #C4C4C4;
}

/* Input Text-Field */
.ui-inputtext:enabled:focus:not(.ui-state-error) {
  box-shadow: none;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;
}

/* Button */

:host ::ng-deep .ui-button.ui-state-default {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-align: center;

  border-radius: 24px;

  color: #FFFFFF;
}

:host ::ng-deep .ui-button.ui-state-default.ui-button-secondary {
  border: 2px solid #c4c4c4;
}

:host ::ng-deep .ui-button.ui-state-default.ui-button-secondary:enabled,.ui-button.ui-state-default.ui-button-secondary:enabled:hover {
  border: 2px solid #00B5F0;
  color:#00B5F0;
  background-color: #f4f4f4;
}

:host ::ng-deep .ui-widget:disabled {
  border-radius: 24px;
  border: 2px solid #c4c4c4;
  background: #C4C4C4;
}

:host ::ng-deep .ui-button, .ui-button:enabled:hover{
  border-radius: 24px;
  border: 2px solid #00B5F0;
  background: #00B5F0;
}

/* dropdown */
.start-add-on {
  width: 32px;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  /* text-align: left; */
}

:host ::ng-deep .ui-dropdown {
  border:none;
  background: #DADADA;
  position: absolute;
  top: 8px;
  left: 28px;
  width: 288px;
}

:host ::ng-deep .ui-inputtext:enabled:focus:not(.ui-state-error),:host ::ng-deep .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
  box-shadow: none;
  border:none;
}

:host ::ng-deep .ui-inputtext {
  font-size: 16px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.dropdown-group {
  background: #FFFFFF;
}
.disabled-dropdown {
  background: #DADADA;
}

:host ::ng-deep .ui-dropdown.ui-state-disabled .ui-dropdown-trigger, :host ::ng-deep .ui-dropdown.ui-state-disabled .ui-dropdown-label {
  cursor: default;
  background: #DADADA;
}

:host ::ng-deep .ui-dropdown .ui-dropdown-panel {
  min-width: 320px;
}

.leftOveride {
  left: -28px !important;;
}

