<div class="checkbox-1" style="position: absolute;left: 3px;width: 88px;height: 24px;">
  <b-checkbox label="m-Bca" [value]="1" (change)="cbMbcaAction($event)"></b-checkbox>
</div>
<div class="p-grid" style="position: absolute;top: 0px;margin-top: 38px;margin-left: 0px;margin-right: 0px;" >
  <p-card [style]="{width: '368px'}" styleClass="card" id="product1" style="left: 28px;border: 2px solid #FFFFFF;top:12px;border-radius:8px">
    <div class="p-grid" style="left: 23px;position: relative;top: 24px;">
      <div class="p-col-4">
        <p-radioButton name="group1" label='Finansial' value='1' [(ngModel)]="rbFin"  [disabled]="disableRb" ></p-radioButton>
      </div>
      <div class="p-col-8">
        <p-radioButton name="group1" label='Non Finansial' value='2' [(ngModel)]="rbFin" [disabled]="disableRb" ></p-radioButton>
      </div>
    </div>
    <div class="p-grid" style="left: 23px;position: relative;top: 60px;">
      <div class="dropdown-group disabled-dropdown" style="border: 1px solid #c4c4c4;border-radius: 4px;width: 320px;height: 48px;">
        <span class="start-add-on">62</span>
        <p-dropdown [options]="optionList" [(ngModel)]="item" editable="true" placeholder="input nomer handphone" [disabled]="disableDropdown" panelStyleClass="leftOveride"></p-dropdown>
      </div>
    </div>
    <div class="p-grid" style="position: relative;top: 110px; left: 40px;">
      <div>
        <button pButton type="button" label="Input No Hp" class="ui-button-rounded ui-button-secondary"
        style="
        height: 40px;
        width: 120px;
        left: 0px;
        top: 0px;
        border-radius: 24px;"
        [disabled]="disableBtn"
        ></button>
      </div>
      <div style="left: 32px;position: relative;">
        <button pButton type="button" label="Validasi" class="ui-button-rounded"
        style="
        height: 40px;
        width: 120px;
        left: 0px;
        top: 0px;
        "
        [disabled]="disableBtn"
        ></button>
      </div>
    </div>
  </p-card>
</div>
